<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        NAME:<div sec:authentication="principal.username"></div>
        PWD:<div sec:authentication="principal.password"></div>
        <div sec:authentication="principal"></div>
        <div sec:authorize="hasRole('USER')">Has Role USER</div>
       <div sec:authorize="hasRole('ROLE_USER')">Has Role ROLE_USER</div>
        <div sec:authorize="hasAuthority('USER')" > Has Authority USER </div> 
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>